<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <body>
    
   

   
 
      <div class="menu">
        <img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png">
        <a href="" class="home" >Home</a>
        <input id="one" type="text" class="search-bar" placeholder="Search">
        <button id="two" class="search-bar"></button>
        <div class="icon-container">
          <img tabindex="1" draggable="false" class="icon bell" src="https://i.hizliresim.com/rcvolcu.png">
          <img tabindex="1" draggable="false" class="icon message" src="https://i.hizliresim.com/newumah.png">
          <img tabindex="1" draggable="false" class="icon pp" src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg">
          <img tabindex="1" draggable="false" class="icon btn" src="https://i.hizliresim.com/g15mqud.png">
          
          <!----FOCUS----->
          <div tabindex="1" class="focus-bar bell-bar">nothing</div>
          <!-------------------->
          <div tabindex="1" class="focus-bar message-bar">you are alone</div>
          <!-------------------->
          <div tabindex="1" class="focus-bar pp-bar"><img src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg"><a href="/profile" target="_blank">devrimos</a></div>
          <!-------------------->
          <div tabindex="1" class="focus-bar btn-bar">¯\_( ͡° ͜ʖ ͡°)_/¯</div>
          
        </div>
      </div>
      <!--------------------------->
      <div class="responsive-search-bar">
          <input type="text">
          <p class="close">❌</p>
        </div>
   <header>
    <h1>Explore the best of Pinterest</h1>
  </header> 
   <div class="container">
         
     
         
         
     <div class="box">
                   <a href="" >
                   <img src="https://i.pinimg.com/736x/2a/db/0b/2adb0b688dd7ce4c32109d1469402881.jpg" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
    <div class="box">
                   <a href="" >
                   <img src="https://i.pinimg.com/564x/c4/f6/29/c4f629467c5851bebe6cf42c9b910408.jpg" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
       
         
   <div class="box">
                   <a href="" >
                   <img src="https://i.pinimg.com/564x/10/ad/82/10ad821d291c52fc4fefb4bd5881ec44.jpg" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
              
   <div class="box">
    <a href="" >
    <img src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg" alt="image"></a>
<div class="caption">Lorem ipsum </div>
</div>      
<div class="box">
                <a href="" >
                <img src="https://i.pinimg.com/564x/c1/b1/51/c1b151515aaf5e3aca9ec459102e92d2.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
  </div>      
  <div class="box">
                  <a href="" >
                  <img src="https://i.pinimg.com/564x/2c/6c/75/2c6c758d04d0f71f66d2f37aa5d0a81c.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div>      
    <div class="box">
                    <a href="" >
                    <img src="https://i.pinimg.com/564x/49/41/0d/49410d744171f596b481c153afcf66fb.jpg" alt="image"></a>
                <div class="caption">Lorem ipsum </div>
      </div>      
      <div class="box">
                      <a href="" >
                      <img src="https://i.pinimg.com/564x/af/b9/3a/afb93afce89db47589cf4127d47e9cc8.jpg" alt="image"></a>
                  <div class="caption">Lorem ipsum </div>
        </div>      
        <div class="box">
                        <a href="" >
                        <img src="https://i.pinimg.com/564x/26/93/91/269391414cd4b4244d4cedc531a07e53.jpg" alt="image"></a>
                    <div class="caption">Lorem ipsum </div>
          </div>      
          <div class="box">
                          <a href="" >
                          <img src="https://i.pinimg.com/564x/03/a4/63/03a46351722b30294fd07bcf0343b24d.jpg" alt="image"></a>
                      <div class="caption">Lorem ipsum </div>
            </div>      
            <div class="box">
                            <a href="" >
                            <img src="https://i.pinimg.com/564x/55/1f/e0/551fe0efbcde572c8ddf9f7a13469447.jpg" alt="image"></a>
                        <div class="caption">Lorem ipsum </div>
              </div>      
              <div class="box">
                              <a href="" >
                              <img src="https://i.pinimg.com/564x/2c/ca/b7/2ccab74e97f87ea0e0a33132413d1ca5.jpg" alt="image"></a>
                          <div class="caption">Lorem ipsum </div>
                </div>      
                <div class="box">
                                <a href="" >
                                <img src="https://i.pinimg.com/564x/c1/70/30/c170307b2959a2052dc5bfe69fa71025.jpg" alt="image"></a>
                            <div class="caption">Lorem ipsum </div>
                  </div>      
                  <div class="box">
                                  <a href="" >
                                  <img src="https://i.pinimg.com/564x/8b/5e/3d/8b5e3d816edad6ea83c1cd579003f95a.jpg" alt="image"></a>
                              <div class="caption">Lorem ipsum </div>
                    </div> 
                    <div class="box">
                      <a href="" >
                      <img src="https://i.pinimg.com/564x/27/77/e4/2777e4c9c9763f1bd84327e3d142baff.jpg" alt="image"></a>
                  <div class="caption">Lorem ipsum </div>
        </div> 
        <div class="box">
          <a href="" >
          <img src="https://i.pinimg.com/736x/34/6b/e9/346be90a2692f460caae84edffabb972.jpg" alt="image"></a>
      <div class="caption">Lorem ipsum </div>
</div> <div class="box">
  <a href="" >
  <img src="https://i.pinimg.com/736x/9d/65/93/9d6593f10a04de4dc31df392b32bf147.jpg" alt="image"></a>
<div class="caption">Lorem ipsum </div>
</div> <div class="box">
  <a href="" >
  <img src="https://i.pinimg.com/564x/e3/6a/c3/e36ac39e3c778162b016b369cd237efa.jpg" alt="image"></a>
<div class="caption">Lorem ipsum </div>
</div> <div class="box">
  <a href="" >
  <img src="https://i.pinimg.com/564x/14/a1/d8/14a1d843a9b6cadf2e3f824baae009f6.jpg" alt="image"></a>
<div class="caption">Lorem ipsum </div>
</div> 
<div class="box">
  <a href="" >
  <img src="https://i.pinimg.com/564x/af/b9/3a/afb93afce89db47589cf4127d47e9cc8.jpg" alt="image"></a>
<div class="caption">Lorem ipsum </div>
</div>      
<div class="box">
    <a href="" >
    <img src="https://i.pinimg.com/564x/26/93/91/269391414cd4b4244d4cedc531a07e53.jpg" alt="image"></a>
<div class="caption">Lorem ipsum </div>
</div>      
<div class="box">
      <a href="" >
      <img src="https://i.pinimg.com/564x/03/a4/63/03a46351722b30294fd07bcf0343b24d.jpg" alt="image"></a>
  <div class="caption">Lorem ipsum </div>
</div>      
   </div>
       
   <footer class="fff">
    <h1> &#169; Term of Service Privicy Help Iphone App Android User Collection  Shopping Todea  Explore Watch Shop</h1>
  </footer>
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
   </body>
                     
   
</body>
</html>