<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="menu">
    <img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png">
    <h1 class="mh">Pinterest</h1>
    <a href="/feed" class="home" >Today</a>
    <a href="/feed" class="home" >Watch </a>    
    <a href="/feed" class="home" >Explore</a>
    <!-- <input id="one" type="text" class="search-bar" placeholder="Search"> -->
    <button id="two" class="search-bar"></button>
    <div class="icon-container">
      
      <a href="/profile" class="home" >About</a>
      <a href="/login" class="home" >Business </a>    
      <a href="/login" class="home" >Blog</a>
      <a   href="/login" class="ihome" >login</a>
      <a class="ohome" >Signup</a>
      <!----FOCUS----->
      <div tabindex="1" class="focus-bar bell-bar">nothing</div>
      <!-------------------->
      <div tabindex="1" class="focus-bar message-bar">you are alone</div>
      <!-------------------->
      <div tabindex="1" class="focus-bar pp-bar"><img src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg"><a href="https://github.com/devrimos" target="_blank">devrimos</a></div>
      <!-------------------->
      <div tabindex="1" class="focus-bar btn-bar">¯\_( ͡° ͜ʖ ͡°)_/¯</div>
      
    </div>
  </div>
  <!--------------------------->
  <div class="responsive-search-bar">
      <input type="text">
      <p class="close">❌</p>
    </div>
    <div id="mainimg">
      <div class="leftu">
        <h1><span>Signup to</span> get more <span>Ideas</span></h1>
      </div>
  <div class="container">
    
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Welcome to Pinterest</p>
<form action="/register" method="post">
      <input type="email"  name="email" placeholder="Email" class="detail" /><br />
      <input type="text" name="username" placeholder="username" class="detail" />
      <input type="text"  name="fullname" placeholder="fullname" class="detail" /><br />
      
      
      <input type="password" name="password" placeholder="Password" class="detail" />


      
      <input  type="submit" class="btn int" value="Rgoster account">
    </form>
      <a href="">Forgot your password?</a>

      <p class="or">OR</p>
      <button class="btn fbk">
        <i
          class="fab fa-facebook fa-lg"
          style="color: white; padding-right: 10px"
        ></i
        ><a href="#">Continue with Facebook</a></button
      ><br />
      <button class="btn ggl">
        <i
          class="fab fa-google"
          style="color: rgb(11, 241, 22); padding-right: 10px"
        ></i
        ><a href="#">Continue with Google</a>
      </button>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login">Already on Pinterest yet? Sign up</a>
      </footer>
    </div>
  </div>
    </div>
  <!-- <a href="feed" class="upbtn">Home</a> -->
  <div class="fcontainer">
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/af/b9/3a/afb93afce89db47589cf4127d47e9cc8.jpg">
      <p class="content">Follow me</p>
      <img class="user" src="https://i.pinimg.com/236x/58/9c/8f/589c8ffa48aa58004b6221b60a15f05e.jpg">
      <a class="username">bruhmomento</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <!-------------------->
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/e3/6a/c3/e36ac39e3c778162b016b369cd237efa.jpg">
        <p class="fcontent">Like my pen</p>
      <img class="user" src="https://i.pinimg.com/236x/95/9c/d3/959cd32eba7a0b6cecacfe086a6c1a47.jpg">
      <a class="username">devrimos</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="">
            <img draggable="false" src="">
          </div>
        </div>
      </div>
    </div>
    <!-------------------->
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/14/a1/d8/14a1d843a9b6cadf2e3f824baae009f6.jpg">
        <p class="fcontent">Hover</p>
      <img class="user" src="https://i.pinimg.com/236x/8b/2b/aa/8b2baa42f72980861f541a315446ec5f.jpg">
      <a class="username">usamaladin</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <!-------------------->
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/c1/70/30/c170307b2959a2052dc5bfe69fa71025.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/736x/9d/65/93/9d6593f10a04de4dc31df392b32bf147.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/736x/34/6b/e9/346be90a2692f460caae84edffabb972.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/236x/69/1b/17/691b1705fc94d871d2fc6207bf8c4fe8.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/26/93/91/269391414cd4b4244d4cedc531a07e53.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/55/1f/e0/551fe0efbcde572c8ddf9f7a13469447.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>    <div class="window">
      <img class="foto" src="https://i.pinimg.com/236x/69/1b/17/691b1705fc94d871d2fc6207bf8c4fe8.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>    <div class="window">
      <img class="foto" src="https://i.pinimg.com/236x/69/1b/17/691b1705fc94d871d2fc6207bf8c4fe8.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/2c/ca/b7/2ccab74e97f87ea0e0a33132413d1ca5.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
            <img draggable="false" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
          </div>
        </div>
      </div>
    </div>    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/c1/70/30/c170307b2959a2052dc5bfe69fa71025.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/2c/6c/75/2c6c758d04d0f71f66d2f37aa5d0a81c.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
          </div>
        </div>
      </div>
    </div><div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/af/b9/3a/afb93afce89db47589cf4127d47e9cc8.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
          </div>
        </div>
      </div>
    </div><div class="window">
      <img class="foto" src="https://i.pinimg.com/564x/27/77/e4/2777e4c9c9763f1bd84327e3d142baff.jpg">
        <p class="fcontent">Yeeesss</p>
      <img class="user" src="https://i.pinimg.com/236x/46/1d/f7/461df750a734b8c580246e6618c6919a.jpg">
      <a class="username">anon</a>
      
      <div class="hover-zone">
        <div class="top-bar">
          <p>Profile ⌵</p>
          <a>Save</a>
        </div>
        <!-------------------->
        <div class="bottom-bar">
          <a>↗ website.com</a>
          <div class="radius-ico">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
            <img draggable="false" src="https://i.pinimg.com/564x/3b/ca/27/3bca27bb7f825bd75005094c5f1b33a8.jpg">
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <footer class="fff">
    <h1> &#169; Term of Service Privicy Help Iphone App Android User Collection  Shopping Todea  Explore Watch Shop</h1>
  </footer>
</body>

</html>